$debug-box-background: rgba(195, 104, 255, 0.5);
$debug-box-with-text-background: rgba(77, 94, 255, 0.5);

.menu-icon {
  margin-right: 0.7rem;
}

.article-icon {
  margin-top: 0.5rem;
}

.article-body {
  margin-left: .75rem;
  margin-right: .75rem;
}

.menu-list {
  text-shadow: 6px 6px 15px rgba(104, 104, 104, 0.25);
}

.sticky {
  position: sticky;
  top: 3rem;
}

.article-item {
  padding-bottom: 1rem;
}

.debug-show-box {
  background-color: $debug-box-background;
}

.debug-show-box-text {
  background-color: $debug-box-with-text-background;
}
