$debug-box-background: rgba(195, 104, 255, 0.5);
$debug-box-with-text-background: rgba(77, 94, 255, 0.5);

.menu-icon {
  margin-right: 0.7rem;
}

.article-icon {
  margin-top: 0.5rem;
}

.article-body {
  margin-left: .75rem;
  margin-right: .75rem;
  margin-bottom: 7rem;
}

.title-link {
  color: rgb(74, 74, 74);
}

.title-blog {
  .is-desktop {
    font-size: 4rem;
  }
}

.menu-list {
  text-shadow: 6px 6px 15px rgba(104, 104, 104, 0.25);
}

.sticky {
  position: sticky;
  top: 3rem;
}

.article-item {
  padding-bottom: 1rem;
}

.debug-show-box {
  background-color: $debug-box-background;
}

.debug-show-box-text {
  background-color: $debug-box-with-text-background;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  color: rgba(73, 73, 73, 0.459);
  cursor: pointer;
  padding: 1rem;
  border-radius: .7rem;  
}

.blog-content {
  margin-left: .7rem;
  margin-right: .7rem;
}

hr {
  background-color:rgba(73, 73, 73, 0.17);
  // height: 1px;
}
