.icon-pixel {
    background-color: rgba(129, 127, 127, .5);
}

.article-icon {
    padding-top: 1rem;
    padding-right: 2rem;
}

.icon-col {
    width: 2rem;
    height: 2rem;
    // padding: 1rem;
}